[submodule "llvm-project"]
	active = true
    	url = https://github.com/llvm/llvm-project.git
    	path = code/third_party/llvm-project
[submodule "code/tools/neovim"]
	path = code/tools/neovim
	url = https://github.com/neovim/neovim
[submodule "code/tools/alacritty"]
	path = code/tools/alacritty
	url = https://github.com/alacritty/alacritty
[submodule "code/tools/zellij"]
	path = code/tools/zellij
	url = https://github.com/zellij-org/zellij
[submodule "code/third-party/zellij"]
	path = code/third-party/zellij
	url = https://github.com/The-Rustifyer/zellij/
[submodule "code/tools/dasm-assembler"]
	path = code/tools/dasm-assembler
	url = https://github.com/dasm-assembler/dasm
