[submodule "llvm-project"]
    active = true
    url = https://github.com/llvm/llvm-project.git
    path = code/third_party/llvm-project
[submodule "code/third_party/alacritty"]
	path = code/third_party/alacritty
	url = https://github.com/alacritty/alacritty
