[user]
    name = Alex Vergara
    email = alex.vergara.dev@gmail.com
[include]
    path = .gitconfig.personal
[includeIf "gitdir:$HOME/code/ecomt/"]
    path = .gitconfig.corporate
[credentials]
    helper = store
[core]
    autocrlf = input
    editor = nvim -u NONE
[init]
    defaultBranch = main
[http]
    postBuffer = 524288000
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[mergetool]
    prompt = false
[status]
	showUntrackedFiles = no
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
