layout {
    cwd "/home/the-rustifyer/code/zero_day_code/Zork/"
    tab name="Zork's Root" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="nvim" focus=true
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Git" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="lazygit"
    }
    tab name="Term" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
    }
    tab name="System Monitor" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="btm"
    }

    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane focus=true
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
