[Desktop Entry]
Name=Alacritty
Comment=A fast, cross-platform terminal emulator
Exec=~/.cargo/bin/alacritty
Icon=Icon=~/.local/share/icons/alacritty-term.svg
Terminal=false
Type=Application
Categories=System;TerminalEmulator;

