[Desktop Entry]
Name=Alacritty
Comment=A fast, cross-platform terminal emulator
Exec=~/.cargo/bin/alacritty
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;

